<h1>Customers</h1>

<table>
	<tr>
		<th>
			id
		</th>

		<th>
			Eesnimi
		</th>

		<th>
			Perenimi
		</th>
	</tr>
	<tr>
		<td>
			<%= @customer.id %>
		</td>

		<td>
			<%= @customer.firstName %>
		</td>

		<td>
			<%= @customer.lastName %>
		</td>
	</tr>
</table>


