<h1>Customer</h1>

<table>
	<tr>
		<td>
			Eesnimi
		</td>

		<td>
			<%= @customer.firstName %>
		</td>
	</tr>

	<tr>
		<td>
			Perenimi
		</td>

		<td>
			<%= @customer.lastName %>
		</td>
	</tr>

	<tr>
		<td>
			ID kood
		</td>

		<td>
			<%= @customer.identityCode %>
		</td>
	</tr>
</table>